.btn {
    background-color: indigo;
}
.btn1 {
    margin-top: 110px;
    height: 150px;
    width: 150px;
}
.cardSpecific {
    height: 410px;
    width: 450px;
    margin-top: 125px;
    margin-left: 25px;
    border-radius: 5%;
}
.image {
    border-radius: 10%;
    height: 300px;
    width: 400px;
    margin-left: 25px;
}

@media only screen and (min-width: 625px) {

    .cardSpecific {
        margin-left: 85px;
    }


}
@media only screen and (min-width: 774px) {

    .cardSpecific {
        margin-left: 150px;
    }


}
@media only screen and (min-width: 883px) {

    .cardSpecific {
        margin-left: 220px;
    }


}
@media only screen and (min-width: 960px) {

    .cardSpecific {
        margin-left: 250px;
    }


}

@media only screen and (min-width: 1280px) {

    .cardSpecific {
        margin-left: 425px;
    }


}

@media only screen and (min-width: 1420px) {

    .cardSpecific {
        margin-left: 465px;
    }


}
@media only screen and (min-width: 1600px) {

    .cardSpecific {
        margin-left: 560px;
    }


}
@media only screen and (min-width: 1700px) {

    .cardSpecific {
        margin-left: 620px;
    }


}
@media only screen and (min-width: 1800px) {

    .cardSpecific {
        margin-left: 660px;
    }


}
@media only screen and (min-width: 1919px) {

    .cardSpecific {
        margin-left: 725px;
    }


}